/* O import da fonte tem que ser a PRIMEIRA linha */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Patrick+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFDD0;
  color: #4a4a4a;
  font-family: 'Fredoka', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita scroll horizontal indesejado */
}

/* --- Animação para o Botão do WhatsApp --- */
@keyframes bounce-in {
  0% { transform: scale(0); opacity: 0; }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); opacity: 1; }
}

.animate-bounce-in {
  animation: bounce-in 0.5s ease-out forwards;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}